/* Importando a fonte Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: 'Bebas Neue', sans-serif;
}

/* Estilo da Navbar */
.navbar {
  background-color: #000;
  padding: 20px;
  border-bottom: 2px solid #00ff00;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #00ff00;
}

.logo {
  font-size: 2rem;
  color: #00ff00;
  text-shadow: 0 0 5px #00ff00;
}

.nav-links a {
  color: #00ff00;
  margin-left: 20px;
  font-size: 1.2rem;
  text-shadow: 0 0 5px #00ff00;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #00cc00;
}

/* Centralizando o GIF */
.gif-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-gif {
  max-height: 50px; /* Ajuste conforme necessário */
}
